<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
  </configSections>

  <spring>

    <!--Spring.Net对象容器的配置-->
    <context>
      <!--容器里面的对象配置位置-->
      <resource uri="config://spring/objects"/>
      <!--<resource uri="file://Dals.xml"/>-->
      <resource uri="assembly://SpringNetDemo/SpringNetDemo/Dals.xml"/>
    </context>

    <!--object:配置容器里面的对象-->
    <objects xmlns="http://www.springframework.net">

      <description>An  example that demonstrates simple IoC features.</description>

      <object name="UserInfoDal"      type="SpringNetDemo.UserInfoDal, SpringNetDemo">
        <property name="Name" value="MyMovieFinder Value"/> <!--ref="MyMovieFinder"-->

      </object>

      <object name="UserInfoService"      type="SpringNetDemo.UserInfoService, SpringNetDemo">
        <property name="UserInfoDal" ref="UserInfoDal"/> <!--ref="MyMovieFinder"-->

      </object>
      
    </objects>
  </spring>


  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>