@model IEnumerable<Moshang.OA.Model.UserInfo>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <link href="~/Content/TableStyle.css" rel="stylesheet" />
    <link href="~/Content/jquery-easyui-1.5.4.1/themes/gray/easyui.css" rel="stylesheet" />
    <link href="~/Content/jquery-easyui-1.5.4.1/themes/icon.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <!--<script src="~/Content/jquery-easyui-1.5.4.1/jquery.min.js"></script>-->
    <script src="~/Content/jquery-easyui-1.5.4.1/jquery.easyui.min.js"></script>
    <script src="~/Content/jquery-easyui-1.5.4.1/locale/easyui-lang-zh_CN.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

    <script src="~/Scripts/datapattern.js"></script>

    <script type="text/javascript">

        $(function () {
            initTable();

            $("addFormDialogDiv").css("display", "none");
        });

        //初始化表格
        function initTable() {
            $('#tt').datagrid({
                url: '/UserInfo/GetAllUserInfos',
                title: '用户信息列表',
                width: 700,
                height: 400,
                fitColumns: true,
                idField: 'ID',
                loadMsg: '正在加载用户的信息...',
                pagination: true,
                singleSelect: false,
                pageSize: 10,
                pageNumber: 1,
                pageList: [10, 20, 30],
                columns: [[
                    { field: 'ck', checkbox: true, align: 'left', width: 50 },
                    { field: 'ID', title: '用户编号', width: 80 },
                    { field: 'UName', title: '用户名', width: 120 },
                    { field: 'Pwd', title: '用户密码', width: 120 },
                    { field: 'Remark', title: '备注', width: 120 },
                    {
                        field: 'SubTime', title: '提交时间', width: 80, align: 'right',
                        formatter: function (value, row, index) {
                            return (eval(value.replace(/\/Date\((\d+)\)\//gi, "new Date($1)"))).pattern("yyyy-M-d h:m:s.S");
                        }
                    }
                ]],
                toolbar: [{
                    id: 'btnDownShelf',
                    text: '添加用户',
                    iconCls: 'icon-add',
                    handler: function () {
                        //弹出 添加对话框
                        addClickEven();
                    }
                }],
                onHeaderContextMenu: function (e, field) {

                }
            });
        }

        //用户点击添加触发 弹出添加对话框
        function addClickEven() {

            $("#addFormDialogDiv").css("display", "block");
            $("#addFormDialogDiv").dialog({
                title: "添加用户",
                modal: true,
                width: 400,
                height: 400,
                collapsible: true,
                maximizable: true,
                resizable: true,
                buttons: [{
                    id: 'btnAdd',
                    text: '确定添加',
                    iconCls: 'icon-ok',
                    handler: subAddForm
                }, {
                    id: 'btnCancel',
                    text: '取消',
                    iconCls: 'icon-cancel',
                    handler: function () {
                        $("#addFormDialogDiv").dialog("close");
                    }
                }]

            });
        }

        function subAddForm() {
            $("#addFormDialogDiv form").submit();
        }

        //添加成功以后
        function afterAdd(data) {
            if (data == "OK") {
                //关闭对话框
                $("#addFormDialogDiv").dialog("close");
                initTable();
            } else {
                $.messager.alert(data);
            }
        }

    </script>

</head>
<body>

    <!--页面表格数据-->
    <div>
        <table id="tt" style="width: 700px;" title="标题，可以使用代码进行初始化，也可以使用这种属性的方式" iconcls="icon-edit"></table>

        <!--弹出添加对话框DIV 开始-->
        <div id="addFormDialogDiv" style="display: none">
            @using (Ajax.BeginForm("Add","UserInfo",new AjaxOptions() {OnSuccess = "afterAdd"}))
            {
                <table class="t1">
                    
                    <tr><td>用户名：</td><td><input type="text" name="UName"/></td></tr>
                    <tr><td>密码：</td><td><input type="text" name="Pwd"/></td></tr>
                    <tr><td>备注：</td><td><input type="text" name="Remark"/></td></tr>
                    <tr><td>昵称：</td><td><input type="text" name="ShowName"/></td></tr>
                </table>
            }
        </div>
        <!--弹出添加对话框DIV 结束-->


    </div>



</body>
</html>
